/*******Fonts*********/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

/**********Main*************/
* {
  font-family: Quicksand, sans-serif;
}
.container-input{
  position: relative;
  top:100px;  
  border: 4px solid #7C8385;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 8px grey;
  background-color:#39367d;
  z-index: 10;
}
.background-div{
  background-image: url('./static/images/bossBack.jpg');
  background-size: cover;
  height: 100vh;
  width: 100%;
}
.my-col{
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
 
.send-button{
  text-align: center;
  margin: 15px;

}
.h2-time-input{
  color:white;
  text-align: center;
}

.table-time-report{
  background-color: #39367d;
  position: relative;
  border:5px solid #7C8385;
  border-radius: 10px;
  top:200px;
  box-shadow: 0px 0px 10px 8px grey;
}
.project-table {
  color:white;
}

.loginBackground {
  background: linear-gradient(115deg, rgba(57,54,125,1) 15%, rgba(106,97,180,1) 41%, rgba(14,4,97,1) 86%);   height: 100vh;
  font-family: 'Quicksand', sans-serif;
}
.loginContainer {
  background-color: whitesmoke;
  color: black;
  border-radius: 2%;
  width: 25%;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 3rem;
  padding-top: 4rem;
}
.boss-div {
  background-image: url('./static/images/bossBack.jpg');
  background-size: cover;
  height: 100vh;
}
.container-boss {
  border-radius: 20px;
  background-color:#39367d;
  box-shadow: 0px 0px 10px 8px grey;
}
.title-day-report {
  color:white;
  font-family: 'Quicksand', sans-serif;
}

.col-title-day-view {
  text-align: center;
  color:white;
  font-family: 'Quicksand', sans-serif;
}
/****************************/

/*******Loading screen css********/
.bg {
  background:linear-gradient(115deg, rgba(57,54,125,1) 15%, rgba(106,97,180,1) 41%, rgba(14,4,97,1) 86%);
  height: 100vh;
  width: 100%;
}
.center {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.ring {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  animation: ring 2s linear infinite;
}
.ring::before{
  position:absolute;
  content: '';
  left:0;
  top:0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(255,255,255,.3);

}
.span-loading {
  color: black;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  line-height: 200px;
  font-size: 25px;
  font-family: 'Quicksand', sans-serif;
}
@keyframes ring {
  0%{
    transform: rotate(0deg);
    box-shadow: 1px 5px 2px #2B5D6C;
  }
  50%{
    transform: rotate(180deg);
    box-shadow: 1px 5px 2px #96F3F1;
  }
  100%{
    transform: rotate(360deg);
    box-shadow: 1px 5px 2px #297BF2;
  }

}
/*************************************/

/*******Screen-size adjustment*******/


@media screen and (max-width:774px) {

  .container-input{
    position: relative;
    top: 10px;  
    border: 4px solid #7C8385;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 8px grey;
  }
  .my-col{
    height: 50px; ;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .table-time-report{
    position: relative;
    border:5px solid #7C8385;
    border-radius: 10px;
    top:30px;
    box-shadow: 0px 0px 10px 8px grey;
  }
} 
@media screen and (max-width:375px) {
  .container-input{
    position: relative;
    top: 10px;  
    border: 4px solid #7C8385;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 8px grey;
  }
  .my-col{
    height: 50px; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .table-time-report{
    position: relative;
    border:5px solid #7C8385;
    border-radius: 10px;
    top:30px;
    box-shadow: 0px 0px 10px 8px grey;
  }
}
/********************************/




